.main__link{
    padding: 15px 31px;
    background-color: $basic-color  ;
    color: rgba(254, 252, 247, 1);
    font-family: $fraunces-family;
    font-weight: 900;
    line-height: 72px;
    font-size: 18px;
    border-radius: 6px;
    margin-top: 71px;
    text-decoration: none;
}
